@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To HR Management</h1>
    <h4>
        <a href="https://localhost:7052/Employees">Click Here Please</a>
    </h4>
</div>
